@font-face {
  font-family: 'icomoon1';
  src:  url('fonts/icomoon.eot?mstbet');
  src:  url('fonts/icomoon.eot?mstbet#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mstbet') format('truetype'),
    url('fonts/icomoon.woff?mstbet') format('woff'),
    url('fonts/icomoon.svg?mstbet#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon1-"], [class*=" icon1-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon1' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon1-playdetail:before {
  content: "\e925";
}
.icon1-pause-detail:before {
  content: "\e926";
}
.icon1-prevdetail:before {
  content: "\e927";
}
.icon1-nextdetail:before {
  content: "\e928";
}
.icon1-music-shunxu:before {
  content: "\e929";
}
.icon1-back:before {
  content: "\e924";
}
.icon1-edit-paper:before {
  content: "\e900";
}
.icon1-edit:before {
  content: "\e91b";
}
.icon1-delete:before {
  content: "\e923";
}
.icon1-add-project:before {
  content: "\e913";
}
.icon1-add:before {
  content: "\e921";
}
.icon1-list-music:before {
  content: "\e91d";
}
.icon1-night:before {
  content: "\e91e";
}
.icon1-day:before {
  content: "\e91f";
}
.icon1-community:before {
  content: "\e920";
}
.icon1-wangyi:before {
  content: "\e90e";
}
.icon1-share:before {
  content: "\e90f";
}
.icon1-play:before {
  content: "\e910";
}
.icon1-list-circle:before {
  content: "\e911";
}
.icon1-setting:before {
  content: "\e914";
}
.icon1-theme:before {
  content: "\e915";
}
.icon1-friend:before {
  content: "\e916";
}
.icon1-set-time:before {
  content: "\e917";
}
.icon1-lock:before {
  content: "\e918";
}
.icon1-car:before {
  content: "\e919";
}
.icon1-cloud:before {
  content: "\e91a";
}
.icon1-exit:before {
  content: "\e91c";
}
.icon1-place:before {
  content: "\e909";
}
.icon1-SHARE2:before {
  content: "\e90a";
}
.icon1-zuijinplay:before {
  content: "\e90b";
}
.icon1-diantai:before {
  content: "\e90c";
}
.icon1-collect:before {
  content: "\e90d";
}
.icon1-coin:before {
  content: "\e908";
}
.icon1-market:before {
  content: "\e901";
}
.icon1-menu:before {
  content: "\e902";
}
.icon1-message:before {
  content: "\e903";
}
.icon1-music:before {
  content: "\e904";
}
.icon1-search:before {
  content: "\e905";
}
.icon1-vip:before {
  content: "\e906";
}
.icon1-wangyiyun:before {
  content: "\e907";
}
.icon1-close:before {
  content: "\e912";
}
.icon1-down:before {
  content: "\e922";
}
.icon1-left:before {
  content: "\e940";
}
.icon1-pause:before {
  content: "\e955";
}
.icon1-right:before {
  content: "\e963";
}
.icon1-up:before {
  content: "\e978";
}
.icon1-music-danqu1:before {
  content: "\e94a";
}
.icon1-music-random:before {
  content: "\e94b";
}
.icon1-volume-medium:before {
  content: "\ea27";
}
