<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>众城公益</title>
  <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/moment.js/2.10.6/moment-with-locales.min.js"></script>
	<script src="https://cdn.staticfile.org/d3/4.4.0/d3.min.js"></script>
</head>
<body>
	<div class="header">
		<div class="w">
			<div class="header-l fl">众城公益</div>
			<div class="header-r fr">
				 <ul class="fl">
						<li>
							<a href="###">首页</a>
						</li>
						<li>
							<a href="###">组织活动</a>
						</li>
						<li>
							<a href="###">公益商品</a>
						</li>
						<li>
							<a href="###">公益先锋</a>
						</li>
						<li>
							<a href="###">公益新闻</a>
						</li>
			    </ul>
			    <div class="fl">
					<a href="###">
						<img src="../src/images/weibo.png" alt="" id="aa">
						</a>
					<a href="###">登录</a>
					<a href="###">|</a>
					<a href="###">注册</a>
			   </div>
			</div>


		</div>
	</div>
	<div class="main">
	    <div class="imgBox">
			<img src="../src/images/banner1.png" alt="">
		</div>
		<div class="w mainbox">
			 <div class="mainbox-l fl">
			      <!--公益新闻start  -->
			     <div class="mainbox-news">
			     	  <div class="title">
			     	  	   <div class="title-main fl">公益新闻</div>
			     	  	   <div class="title-more fr">
 								<a href="###">更多</a>
			     	  	   </div>
			     	  </div>
			     	  <div>
			     	  	  <img src="../src/images/news1.jpg" alt="">
			     	  </div>
			     	  <ul class="news-con">
			     	  	  <li>
			     	  	  	<a href="###">众城公益协会正式成立 已开展多期...</a>
			     	  	  </li>
			     	  	  <li>
			     	  	  	<a href="###">众城公益：快乐源自力所能及的付出...</a>
			     	  	  </li>
			     	  	  <li>
			     	  	  	<a href="###">众城公益：快乐源自力所能及的付出...</a>
			     	  	  </li>
			     	  	  <li>
			     	  	  	<a href="###">众城公益：快乐源自力所能及的付出...</a>
			     	  	  </li>
			     	  	   <li>
			     	  	  	<a href="###">众城公益：快乐源自力所能及的付出...</a>
			     	  	  </li>

			     	  </ul>
			     </div>
			      <!--组织活动start  -->
			      <div class="mainbox-activity mt20">
			      	   <div class="title">
			     	  	   <div class="title-main fl">组织活动</div>
			     	  	   <div class="title-more fr">
 								<a href="###">更多</a>
			     	  	   </div>
			     	  </div>
			     	  <div class="activity-items">
			     	  	   <div class="act-item">
			     	  	   	     <div class="item-icon item-icon1">
			     	  	   	     </div>
			     	  	   	     <div class="item-tro">
			     	  	   	     	  <p class="col-green f14">奇妙双手</p>
			     	  	   	     	  <p class="f12">生命见焕然一新</p>
			     	  	   	     </div>
			     	  	   </div>
			     	  	   <div class="act-item">
			     	  	   	     <div class="item-icon item-icon2">
			     	  	   	     </div>
			     	  	   	     <div class="item-tro">
			     	  	   	     	  <p class="col-green f14">奇妙双手</p>
			     	  	   	     	  <p class="f12">生命见焕然一新</p>
			     	  	   	     </div>
			     	  	   </div>
			     	  	   <div class="act-item">
			     	  	   	     <div class="item-icon item-icon3">
			     	  	   	     </div>
			     	  	   	     <div class="item-tro">
			     	  	   	     	  <p class="col-green f14">奇妙双手</p>
			     	  	   	     	  <p class="f12">生命见焕然一新</p>
			     	  	   	     </div>
			     	  	   </div>
			     	  	   <div class="act-item">
			     	  	   	     <div class="item-icon item-icon4">
			     	  	   	     </div>
			     	  	   	     <div class="item-tro">
			     	  	   	     	  <p class="col-green f14">奇妙双手</p>
			     	  	   	     	  <p class="f12">生命见焕然一新</p>
			     	  	   	     </div>
			     	  	   </div>
			     	  	   <div class="act-item">
			     	  	   	     <div class="item-icon item-icon5">
			     	  	   	     </div>
			     	  	   	     <div class="item-tro">
			     	  	   	     	  <p class="col-green f14">奇妙双手</p>
			     	  	   	     	  <p class="f12">生命见焕然一新</p>
			     	  	   	     </div>
			     	  	   </div>
			     	  	   <div class="act-item">
			     	  	   	     <div class="item-icon item-icon6">
			     	  	   	     </div>
			     	  	   	     <div class="item-tro">
			     	  	   	     	  <p class="col-green f14">奇妙双手</p>
			     	  	   	     	  <p class="f12">生命见焕然一新</p>
			     	  	   	     </div>
			     	  	   </div>
			     	  	   <div class="act-item">
			     	  	   	     <div class="item-icon item-icon7">
			     	  	   	     </div>
			     	  	   	     <div class="item-tro">
			     	  	   	     	  <p class="col-green f14">奇妙双手</p>
			     	  	   	     	  <p class="f12">生命见焕然一新</p>
			     	  	   	     </div>
			     	  	   </div>


			     	  </div>

			      </div>
			      <!-- 公益商品模块start -->
			      <div class="mainbox-pro mt20">
				      	<div class="title">
				     	  	   <div class="title-main fl">公益商品</div>
				     	  	   <div class="title-more fr">
	 								<a href="###">更多</a>
				     	  	   </div>
				     	</div>
				     	 <div>
			     	  	  <img src="../src/images/pro1.jpg" alt="">
			     	     </div>
			     	     <ul class="pro-con">
			     	     	<li>
			     	     		<div class="fl f14">志愿者自己制作(例如辣椒酱)</div> <a href="###" class="fr f12"> 详情> </a>
			     	     	</li>
			     	     	<li>
			     	     		<div class="fl f14">好心人物捐</div> <a href="###" class="fr f12"> 详情> </a>
			     	     	</li>
			     	     	<li>
			     	     		<div class="fl f14">义卖商品</div> <a href="###" class="fr f12"> 详情> </a>
			     	     	</li>
			     	     </ul>
			      </div>
			      <!-- 公益先锋模块start -->
				  <div class="mainbox-pioneer mt20">
				      	<div class="title">
				     	  	   <div class="title-main fl">公益商品</div>
				     	  	   <div class="title-more fr">
	 								<a href="###">更多</a>
				     	  	   </div>
				     	</div>
				     	 <div>
			     	  	  <img src="../src/images/pro1.jpg" alt="">
			     	     </div>
			     	     <ul class="pioneer-con">
			     	     	<li>
			     	     		<a href="###">众城公益协会正式成立 已开展多期...</a>
			     	     	</li>
			     	     	<li>
			     	     		<a href="###">众城公益协会正式成立 已开展多期...</a>
			     	     	</li>

			     	     </ul>
			      </div>
			 </div>
			 <div class="mainbox-r fr">
			 	 <div class="adBox">
			 	 	 <img src="../src/images/ad.jpg" alt="">
			 	 </div>
			 	 <!-- 志愿者感想模块start -->
			 	 <div class="mainbox-think mt20">
			 	 	  <div class="think-title f20 col-green">
			 	 	  	   志愿者感想
			 	 	  </div>
			 	 	  <div class="think-items">
			 	 	  	  <div class="think-item mt20">
			 	 	  	  	   <div class="item-img fl">
			 	 	  	  	   	    <img src="../src/images/think1.jpg" alt="">
			 	 	  	  	   </div>
			 	 	  	  	   <div class="item-con fl">
			 	 	  	  	   	      一切还是这么熟悉，很多次来到这里，目睹过孩子们一个个离开，或被转走，或被收养，还有一张张新面孔，他们都是折翼的小天使。很多次来这里，目睹过孩子们一个个离开打扫卫生，叠衣服，擦空调一切还是这么熟悉，很多次来到这里，目睹孩子们一个个离开，或被转走，或被收养，孩子们一个个离开打扫卫生，叠衣服，擦空调一切...
			 	 	  	  	   </div>
			 	 	  	  </div>
			 	 	  	  <div class="think-item mt20">
			 	 	  	  	   <div class="item-img fl">
			 	 	  	  	   	    <img src="../src/images/think2.jpg" alt="">
			 	 	  	  	   </div>
			 	 	  	  	   <div class="item-con fl">
			 	 	  	  	        <h3>众城公益 希望与我们同在!</h3>
			 	 	  	  	   	      一切还是这么熟悉，很多次来到这里，目睹过孩子们一个个离开，或被转走，或被收养，还有一张张新面孔，他们都是折翼的小天使。很多次来这里，目睹过孩子们一个个离开打扫卫生，叠衣服，擦空调一切还是这么熟悉，很多次来到这里，目睹孩子们一个个离开，或被转走，或被收养，孩子们一个个离开打扫卫生，叠衣服，擦空调一切...
			 	 	  	  	   </div>
			 	 	  	  </div>
			 	 	  	   <div class="think-item mt20">
			 	 	  	  	   <div class="item-img fl">
			 	 	  	  	   	    <img src="../src/images/think3.jpg" alt="">
			 	 	  	  	   </div>
			 	 	  	  	   <div class="item-con fl">
			 	 	  	  	         <h3>众城公益 希望与我们同在!</h3>
			 	 	  	  	   	      一切还是这么熟悉，很多次来到这里，目睹过孩子们一个个离开，或被转走，或被收养，还有一张张新面孔，他们都是折翼的小天使。很多次来这里，目睹过孩子们一个个离开打扫卫生，叠衣服，擦空调一切还是这么熟悉，很多次来到这里，目睹孩子们一个个离开，或被转走，或被收养，孩子们一个个离开打扫卫生，叠衣服，擦空调一切...
			 	 	  	  	   </div>
			 	 	  	  </div>
			 	 	  	   <div class="think-item mt20">
			 	 	  	  	   <div class="item-img fl">
			 	 	  	  	   	    <img src="../src/images/think1.jpg" alt="">
			 	 	  	  	   </div>
			 	 	  	  	   <div class="item-con fl">
			 	 	  	  	        <h3>众城公益 希望与我们同在!</h3>
			 	 	  	  	   	      一切还是这么熟悉，很多次来到这里，目睹过孩子们一个个离开，或被转走，或被收养，还有一张张新面孔，他们都是折翼的小天使。很多次来这里，目睹过孩子们一个个离开打扫卫生，叠衣服，擦空调一切还是这么熟悉，很多次来到这里，目睹孩子们一个个离开，或被转走，或被收养，孩子们一个个离开打扫卫生，叠衣服，擦空调一切...
			 	 	  	  	   </div>
			 	 	  	  </div>
			 	 	  	   <div class="think-item mt20">
			 	 	  	  	   <div class="item-img fl">
			 	 	  	  	   	    <img src="../src/images/think4.jpg" alt="">
			 	 	  	  	   </div>
			 	 	  	  	   <div class="item-con fl">
			 	 	  	  	   		<h3>众城公益 希望与我们同在!</h3>
			 	 	  	  	   	      一切还是这么熟悉，很多次来到这里，目睹过孩子们一个个离开，或被转走，或被收养，还有一张张新面孔，他们都是折翼的小天使。很多次来这里，目睹过孩子们一个个离开打扫卫生，叠衣服，擦空调一切还是这么熟悉，很多次来到这里，目睹孩子们一个个离开，或被转走，或被收养，孩子们一个个离开打扫卫生，叠衣服，擦空调一切...
			 	 	  	  	   </div>
			 	 	  	  </div>
			 	 	  	   <div class="think-item mt20">
			 	 	  	  	   <div class="item-img fl">
			 	 	  	  	   	    <img src="../src/images/think3.jpg" alt="" >
			 	 	  	  	   </div>
			 	 	  	  	   <div class="item-con fl">
			 	 	  	  	   		<h3>众城公益 希望与我们同在!</h3>
			 	 	  	  	   	      一切还是这么熟悉，很多次来到这里，目睹过孩子们一个个离开，或被转走，或被收养，还有一张张新面孔，他们都是折翼的小天使。很多次来这里，目睹过孩子们一个个离开打扫卫生，叠衣服，擦空调一切还是这么熟悉，很多次来到这里，目睹孩子们一个个离开，或被转走，或被收养，孩子们一个个离开打扫卫生，叠衣服，擦空调一切...
			 	 	  	  	   </div>
			 	 	  	  </div>

			 	 	  	   <div class="think-item mt20">
			 	 	  	  	   <div class="item-img fl">
			 	 	  	  	   	    <img src="../src/images/think5.jpg" alt="" style="margin-left:-108%;">
			 	 	  	  	   </div>
			 	 	  	  	   <div class="item-con fl">
			 	 	  	  	         <h3>众城公益 希望与我们同在!</h3>
			 	 	  	  	   	      一切还是这么熟悉，很多次来到这里，目睹过孩子们一个个离开，或被转走，或被收养，还有一张张新面孔，他们都是折翼的小天使。很多次来这里，目睹过孩子们一个个离开打扫卫生，叠衣服，擦空调一切还是这么熟悉，很多次来到这里，目睹孩子们一个个离开，或被转走，或被收养，孩子们一个个离开打扫卫生，叠衣服，擦空调一切...
			 	 	  	  	   </div>
			 	 	  	  </div>
			 	 	  	   <div class="think-item mt20">
			 	 	  	  	   <div class="item-img fl">
			 	 	  	  	   	    <img src="../src/images/think2.jpg" alt="">
			 	 	  	  	   </div>
			 	 	  	  	   <div class="item-con fl">
			 	 	  	  	   		<h3>众城公益 希望与我们同在!</h3>
			 	 	  	  	   	      一切还是这么熟悉，很多次来到这里，目睹过孩子们一个个离开，或被转走，或被收养，还有一张张新面孔，他们都是折翼的小天使。很多次来这里，目睹过孩子们一个个离开打扫卫生，叠衣服，擦空调一切还是这么熟悉，很多次来到这里，目睹孩子们一个个离开，或被转走，或被收养，孩子们一个个离开打扫卫生，叠衣服，擦空调一切...
			 	 	  	  	   </div>
			 	 	  	  </div>
						   <div class="think-item mt20">
			 	 	  	  	   <div class="item-img fl">
			 	 	  	  	   	    <img src="../src/images/think5.jpg" alt="" style="margin-left:-108%;">
			 	 	  	  	   </div>
			 	 	  	  	   <div class="item-con fl">
			 	 	  	  	    	<h3>众城公益 希望与我们同在!</h3>
			 	 	  	  	   	      一切还是这么熟悉，很多次来到这里，目睹过孩子们一个个离开，或被转走，或被收养，还有一张张新面孔，他们都是折翼的小天使。很多次来这里，目睹过孩子们一个个离开打扫卫生，叠衣服，擦空调一切还是这么熟悉，很多次来到这里，目睹孩子们一个个离开，或被转走，或被收养，孩子们一个个离开打扫卫生，叠衣服，擦空调一切...
			 	 	  	  	   </div>
			 	 	  	  </div>
			 	 	  </div>

			 	 	  <div class="mainbox-pages">
			 	 	  	  <a href="###">1</a>
			 	 	  	  <a href="###">2</a>
			 	 	  	  <a href="###">3</a>
			 	 	  	  <a href="###">4</a>
			 	 	  	  <a href="###">5</a>
			 	 	      <a href="###">6</a>
			 	 	      <a href="###">7</a>
			 	 	      <a href="###">8</a>
			 	 	      <a href="###">9</a>
			 	 	      <a href="###">下一页</a>
			 	 	  </div>

			 	 </div>
			 </div>
			 <div class="fix">
			 <div class="fix-top">

			 </div>
			 <div class="fix-mid">

			 </div>
			 <div class="fix-bot">

			 </div>
	    </div>
		</div>

    </div>
	<div class="footer">
		<div class="w">
			 <div class="footer-t">
			 	  <div class="footer-info fl">
			 	  	  <ol>
			 	  	  	<li>联系我们</li>
			 	  	  	<li>建议咨询</li>
			 	  	  	<li>关于我们</li>
			 	  	  	<li>须知</li>
			 	  	  </ol>
			 	  	  <ol>
			 	  	  	<li>联系我们</li>
			 	  	  	<li>建议咨询</li>
			 	  	  	<li>关于我们</li>
			 	  	  	<li>须知</li>
			 	  	  </ol>
			 	  </div>
			 	  <div class="footer-sao fr">
			 	  	   <div class="order">
			 	  	   	  <img src="../src/images/sao1.jpg" alt="">
			 	  	   	  <p>众城公益</p>
			 	  	   	  <p>官方订阅号</p>
			 	  	   </div>
			 	  	   <div class="weibo">
			 	  	   	  <img src="../src/images/sao2.jpg" alt="">
			 	  	   	  <p>&nbsp;</p>
			 	  	   	  <p>官方微博号</p>
			 	  	   </div>
			 	  </div>
			 </div>
			 <div class="footer-b">
			 	 <div class="footer-add">
			 	 	   <div class="add-l fl">
			 	 	   	   众城公益
			 	 	   </div>
			 	 	   <div class="add-r fl">
			 	 	   	   <p>@2017zhongchenggongyi.com京ICP123456号</p>
			 	 	   	   <p>营业执照新出网(京)242号</p>
			 	 	   </div>
			 	 </div>
			 </div>
		</div>
	</div>
</body>
</html>
