.musiclist {
  .content {
    position:fixed;
    height:19.625rem;
    background:#fff;
    bottom:0;
    left:0;
    right:0;
    z-index:23;
    &.sideUp-enter-to,&.sideUp-leave-to {
      transition: transform 0.3s;
    }
    &.sideUp-enter,&.sideUp-leave-to {
      transform:translate3d(0,100%,0);
    }
    .title {
      width:100%;
      position:relative;
      height:3.125rem;
      font-size:0;
      .play-type,.collect,.delete {
        display:inline-block;
        width:auto;
        height:100%;
        line-height:3.125rem;
        padding:0 0.9375rem;
        &:active {
          background: #f3fafa;

        }
      }

      .play-type {
        height:100%;
        i {
          color:#666;
          font-size:1.125rem;
          display:inline-block;
          width:1.25rem;
          height:1.25rem;
          vertical-align:middle;
        }

        span {
          color:#666;
          vertical-align:middle;
          font-size:0.875rem;
          font-weight:300;
        }

      }

      .right {
        float:right;
        height:100%;
        line-height:3.125rem;
        .collect,.delete {
          font-size:0.75rem;
          color:#666;
          i {
            font-size:1.125rem;
            vertical-align:middle;
          }

          span {
            vertical-align:middle;
            font-size:0.875rem;
            font-weight:300;
          }

        }

      }

      .border-1px {
        border: 1px solid #eee;
      }
    }

    .container {
      height:calc(100% - 3.125rem);
      margin:0;
      padding:0;
      overflow:scroll;
      -webkit-overflow-scrolling:touch;
      box-sizing:border-box;
      padding: 6px 0;
      .list {
        margin:0;
        list-style:none;
        height: 2.75rem;
        line-height:2.625rem;
        padding:0 0.9375rem;
        font-weight:400;
        font-size:0.875rem;
        color:#666;
        overflow:hidden;
        .playingicon {
          font-size: 0.875rem;
          vertical-align: middle;
          color: #C20C0C;
        }

        &:active {
          background-color: #f3fafa;
        }
        .border-1px {
        }
      }

    }

  }



  .mask {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:21;
    opacity:1;
    background:$maskBackground;
    &.fade-enter-to,&.fade-leave-to {
      transition: opacity 0.3s;
    }
    &.fade-enter,&.fade-leave-to {
      opacity:0;
    }
  }

}
