@import "./font-icon-cat3/style.css";
@import "./font-icon/style.css";
@import "./style.css";

body {
    color: #394043;
    background: #fafafa;
    padding-top: 3.125rem;
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
