.red-tooltip {
    	color: #FF4949 !important;
    	border-color: #FF4949 !important;
    	.popper__arrow {
	    	color: #FF4949 !important;
    		border-color: #FF4949 !important;
    	}
    	div {

    	}

    }