/*html,body{height:100%;}*/
/*html{filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);}*/
body,button,input,select,textarea{font:12px/1.125;color:#666666;}
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr{margin:0; padding:0;}
table{border-collapse:collapse;border-spacing:0;}
li{list-style:none;}
fieldset,img{border:0;}
q:before,q:after{content:'';}
input,textarea{outline-style:none;}
input[type="text"],input[type="password"],textarea{outline-style:none;-webkit-appearance:none;}
textarea{resize:none}
address,caption,cite,code,dfn,em,i,th,var{font-style:normal;font-weight:normal;}
legend{color:#000;}
abbr,acronym {border:0;font-variant:normal;}
a{text-decoration:none; color:#999999;}
a:hover{text-decoration:none;}

body, button, input, select, textarea {
    font: 12px/1.125;
    color: #666666;
}

body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

li {
    list-style: none;
}

fieldset, img {
    border: 0;
}

q:before, q:after {
    content: '';
}

input, textarea {
    outline-style: none;
}

input[type="text"], input[type="password"], textarea {
    outline-style: none;
    -webkit-appearance: none;
}

textarea {
    resize: none
}

address, caption, cite, code, dfn, em, i, th, var {
    font-style: normal;
    font-weight: normal;
}

legend {
    color: #000;
}

abbr, acronym {
    border: 0;
    font-variant: normal;
}

a {
    text-decoration: none;
    color: #999999;
}

a:hover {
    text-decoration: none;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearLeft {
    clear: left;
}

.clearRight {
    clear: right;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-text-size-adjust: 100%;
    font-family: -apple-system, "PingFang SC", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 62.5%;
    background: transparent;
}

body {
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, sumary {
    margin: 0;
    padding: 0;
}

input, select, textarea {
    border: 0;
    -webkit-appearance: none;
    appearance: none;
}

ol, ul {
    list-style: none;
}

*:not(input, select, textArea) {
    -webkit-user-select: none;
}

img, a {
    -webkit-touch-callout: none;
}

a, a:active, a:hover {
    text-decoration: none;
}

a, button, input, textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
    width: 100%;
}


html, body {width:100%;}
